<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CPSC 322 Colton & Milo Final Project</title>
    </head>
    <body style="background-color:rgb(55, 165, 70)">
        <h1 style="color:goldenrod">Test Instance:</h1>
        <h1 style="color:goldenrod"> {{instance}}</h1>
        <h1 style="color:goldenrod">Prediction:</h1>
        <h1 style="color:goldenrod">{{prediction}}:</h1>
        <form action="http://192.168.0.12:5000">
            <input type="submit" value="Click to go back"/>
        </form>
    </body>
</html>